 body{
background-color: red;
 }
 main {

 }
 h1{

 }
 h2{

 }
 img-div{
   max-width: 40%;
   height: auto;
 }
 .img-caption{

 }
 .image{
<!-- S8 resize responsively -->

<!-- S9 center -->
 }
 .tribute-info{

 }
 .tribute-link{

 }
